*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    background: #acc9e2;
}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap: 30px;
}
.img-gallery img{
   width: 100%;
   height: auto;
   aspect-ratio: 3/4;
   cursor: pointer;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-20deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.full-img img{
    /* width: 60%; */
    max-width: 90%;
    /* height: 60%; */
    max-height: 90%;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.3);
    color: white;
    border: none;
    font-size: 40px;
    padding: 10px 15px;
    cursor: pointer;
}
.prev{ left: 5%;}
.next{ right: 5%;}

.nav:hover{
    background: rgba(255,255,255,0.6);
}