*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(249, 209, 249);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: rgb(19, 19, 19);
    padding: 20px;
    border-radius: 10px;
}
 
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 55px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* margin: 10px; */
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    overflow-x: auto;
    padding-right: 10px;
    cursor: default;
  
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: rgb(64, 202, 202);
}
.calculator form input:hover{
    background: rgba(255, 255, 255, 0.1);
}
.calculator form input:active{
    transform: scale(0.95);
}
